


/*colors*/

$cool-grey: #b9b8bd;
$tan: rgba(210, 166, 107, 0.9);
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.9);
$black: #181616;
$battleship-grey: #747688;
$black-two: #181818;
$dark-blue-grey: #252a54;
$dark-grey-blue: #2b3056;
$camel: #cb944c;
$silver: #dddfdf;
$brownish-grey: #666666;
$dark-sky-blue: #3eade2;
$pale-grey: #f0f1f6;


