@import "fonts";
@import "vars";
@import "libs";

/*----------------------------------------------
              mixins
-----------------------------------------------*/

/*12 columns default*/

@mixin col($span, $context:12 ) {

    width: percentage($span / $context);
}
/*----------------------------------------------
              functions
-----------------------------------------------*/
@function col($span, $context:12 ) {

    @return percentage($span / $context);
}

/* -----------------------------------------------------------------------------

  			Clearfix and box-sizing

----------------------------------------------------------------------------- */

.clearfix {
    &::before, &::after {
        content: " ";
        display: table;
        clear: both;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/*------------------------------------------------------------------------------

					    	MAIN STYLES

------------------------------------------------------------------------------*/

html, body {
    height: 100%;
    width : 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
body {
    background-color: black;
}
body.loaded {
    visibility: hidden;
}

html {
    font-family: $font-default;
    font-size: 10px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-wrapper {
    padding: 0 0 0 0;
    min-width: 320px;
    position: relative;
    overflow: hidden;
    min-height:100%;
}

.container-fluid {
    max-width: 1200px;
    position: relative;
}

//.wrapper {
//    min-width: 320px;
//    max-width: 1200px;
//    outline: 1px solid red;
//    //padding: 0 45px 0 45px;
//    margin: 0 auto;
//    position: relative;
//}

/* titles */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;

}
h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

p {
    font-size: 1.4rem;
}

/* text position */
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.nowrap{white-space: nowrap;}



.icon-load {
    background:url(../img/loader.gif) no-repeat left top;
    width:40px;height:40px;position:fixed;
    left:50%;
    top:20px;
    margin-left:-20px;
    margin-left:-20px;
    display:none;
}

.loaded .icon-load {
    display:block;
    visibility: visible;
}
/*------------------- highlighting -------------------------*/

.o-blue { outline: 1px solid blue; }
.o-green { outline: 1px solid green; }
.o-gold { outline: 1px solid gold; }
.o-red { outline: 1px solid red; }


/*------------------- end highlighting -------------------------*/

.wrapper {
    //font-size: 1.5rem;
    //@include layout(12 (200px 20px) inside-static fluid);
}


.counter {
     color: red;
     //visibility: hidden;
    font-family: 'whisdom';

}
.counter.visible {
    color: red;
    visibility: visible;

}
p {
    color: blue;
}

/*-----------------------------------------------------------------------

                                   HEADER

------------------------------------------------------------------------*/

.main-header {
    //padding: 45px 0;
}

.greet {
    p {
        font-size: 4rem;
        font-family: "Droid Serif";
        font-style: italic;
        color: $white;
        position: absolute;
        z-index: 3;
        text-align: center;
        //left: 50%;
        //transform: translateX(-50%);
        width: 100%;
        top: 160px;

    }
}

/*-----------------------------------------------------------------------
                                   SLIDER
------------------------------------------------------------------------*/



.main-header__slider {
    //margin-bottom: 45px;
    z-index: 0;
    .slider-item {
        position: relative;
    }
    img {
        height: auto;
        width: 100%;
        display: block;
    }
}

.slick-prev, .slick-next {
    cursor: pointer;
    z-index: 2;
    outline: none;
    position: absolute;
    height: 40%;
    top: 30%;
    padding: 0 11px;
    border: none;
    background: transparent;

    &:hover {
        cursor: pointer;
        //background: $sun-yellow;
    }
}

.slick-next {
    //text-indent: -999px;
    font-size: 0;
    right: 6%;

    &::before {
        content:'';
        font-family:'FontAwesome';
        font-style: normal;
        font-weight: lighter;
        text-decoration: inherit;
        color: $sun-yellow;
        font-size: 4.8rem;
        line-height: 7.5rem;
    }
    &:hover::before {
            //background-position: -53px -5px;
    }
}

.slick-prev {
    //text-indent: 999px;
    font-size: 0;
    left: 6%;

    &::before {
        content:'';
        font-family:'FontAwesome';
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $sun-yellow;
        font-size: 4.8rem;
        line-height: 7.5rem;
    }
    &:hover::before {
        //background-position: -5px -5px;
    }
}
#pause, #play {
     font-size: 2rem;
     cursor: pointer;
     color: $sun-yellow;
     position: absolute;
     left: 50%;
     transform: translateX(-100%) translateY(-150%);
     &:hover {
         color: $grey-7;
     }
 }
#play {
    transform: translateX(100%) translateY(-150%);
}
/*-----------------------------------------------------------------------
                                   NAVBAR
------------------------------------------------------------------------*/
.main-nav {
    text-align: right;
    //max-width: 970px;
    margin: auto;
    padding: 45px 225px 0 225px;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

.main-nav__brand {
    float: left;
    padding: 0;
    font: 2.6rem 'whisdom';
    color: $sun-yellow;
    line-height: 20px;
    text-decoration: none;
}

.main-nav__navbar {
    display: inline-block;
}
.main-nav__content {
    text-align: center;
    list-style: none;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;

    & > li{
        display: inline-block;
        position:relative;
        margin: 0 0 0 30px;
        padding: 10px 10px 5px 10px;

        & > a {
            white-space: nowrap;
            padding: 0 0 2px 0;
            text-decoration: none;
            color: $white;
        }
        &:hover > a {
            border-bottom: 2px solid $sun-yellow;
        }
    }

    .sub-menu {
        display: none;
        background-color: $white;
        position:absolute;
        padding: 6px 0 0 30px;
        left: 0;
        top: 100%;
        text-align: left;
        //border-top: 3px solid transparent;
        background-clip: content-box;
        //width:200px;
    }

    .sub-menu .sub-menu {
        position:absolute;
        top:0;
        left:100%;
        margin:0;
        padding: 0 0 0 5px;
        //border-left: 3px solid transparent;
        background-clip: content-box;
    }

    .sub-menu > li{
        display: block;
        position: relative;
        padding: 5px 25px 0 10px;
        &:last-child{
            padding-bottom: 15px;
        }
        a {
            text-decoration: none;
            white-space: nowrap;
            padding: 0px;
            font-size: 1.2rem;
            line-height: 18px;
            font-family: "Times New Roman";
            color: $black;
        }
        &:hover > a {
            color: $sun-yellow;
        }
    }
}


.main-nav__toggle {
    display: none;
    position: relative;
    float: right;
    font-size: 1.5rem;
    padding: 5px 9px;
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 8px;
    background-color: $sun-yellow;
    background-image: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}



/* -----------------------------------------------------------------------------

  			                        FOOTER

----------------------------------------------------------------------------- */

.main-footer {
    text-align: left;
    //margin-top: 60px;
    padding: 23px 0 22px 0;
    width: 100%;
    //position: absolute;
    //bottom: 0;
    background: $white;
}

.main-footer__copyright {
    text-align: left;
    padding: 0 0 0 125px;
    margin: 10px auto;
    font-size: 1.4rem;
}
.main-footer__social {
    text-align: center;

    i {
        display: inline-block;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin: 0 4px;
        font-size: 2rem;
        border-radius: 50%;
        background-color: $black;
        color: $white;
        transition: 0.2s;
    }
    .fa-twitter {
        padding: 11px;
        &:hover {
            background-color: #1da0f2;
        }
    }
    .fa-facebook {
        padding: 11px 11px 11px 11px;
        &:hover {
            background-color: #3b5998;
        }
    }
    .fa-pinterest-p {
        &:hover {
            background-color: #bd081c;
        }
        padding: 11px 11px 11px 14px;
    }
    .fa-google-plus {
        &:hover {
            background-color: #dd4b39;
        }
        padding: 11px 11px 11px 11px;
    }
}



/*------------------------------------ MEDIA ------------------*/
@import "media"; //always at the end
