@import "fonts";
@import "vars";
@import "libs";

/*----------------------------------------------
              mixins
-----------------------------------------------*/

/*12 columns default*/

@mixin col($span, $context:12 ) {

    width: percentage($span / $context);
}
/*----------------------------------------------
              functions
-----------------------------------------------*/
@function col($span, $context:12 ) {

    @return percentage($span / $context);
}

/* -----------------------------------------------------------------------------

  			Clearfix and box-sizing

----------------------------------------------------------------------------- */

.clearfix {
    &::before, &::after {
        content: " ";
        display: table;
        clear: both;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/*------------------------------------------------------------------------------

																MAIN STYLES

------------------------------------------------------------------------------*/

html, body {
    height: 100%;
    width : 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
body.loaded {
    visibility: hidden;
}

html {
    font-family: $font-default;
    font-size: 10px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.main-wrapper {
    padding: 0 0 0 0;
    min-width: 320px;
    position: relative;
    overflow: hidden;
    min-height:100%;
}

.wrapper {
    min-width: 320px;
    max-width: 1200px;
    //padding: 0 45px 0 45px;
    margin: 0 auto;
    position: relative;
}

/* titles */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;

}
h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

p {
    font-size: 1.4rem;
}

/* text position */
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.nowrap{white-space: nowrap;}



.icon-load {
    background:url(../img/loader.gif) no-repeat left top;
    width:40px;height:40px;position:fixed;
    left:50%;
    top:20px;
    margin-left:-20px;
    margin-left:-20px;
    display:none;
}

.loaded .icon-load {
    display:block;
    visibility: visible;
}
/*------------------- highlighting -------------------------*/

.outl-blue { outline: 1px solid blue; }
.outl-green { outline: 1px solid green; }
.outl-gold { outline: 1px solid gold; }
.outl-red { outline: 1px solid red; }


/*------------------- end highlighting -------------------------*/

.wrapper {
    //font-size: 1.5rem;
    //@include layout(12 (200px 20px) inside-static fluid);
}


.counter {
     color: red;
     //visibility: hidden;
    font-family: 'whisdom';

}
.counter.visible {
    color: red;
    visibility: visible;

}
p {
    color: blue;
}

/*-----------------------------------------------------------------------
                                   NAVBAR
------------------------------------------------------------------------*/



.navbar {
    display: block;
    float: left;
}

.navbar__content,
.main-footer__content,
.navbar__header,
.navbar__i,
.sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar__header {
    display: none;
    height: 40px;
    width: 100%;
    background-color: $warm-grey;
}
.navbar-toggle {
    float: left;
    border: none;
    box-shadow: none;
    outline: none;
    width: 54px;
    height: 40px;
    padding: 13px 0;
    background-color: $black;

    .icon-bar {
        display: block;
        width: 16px;
        height: 2px;
        margin: 0 auto 4px auto;
        background-color: $white;
    }
    &.active {
        background-color: lighten( $black, 15% );
    }
}


.navbar__content > li, .main-footer__content > li {
    display: inline-block;

    & > a {
        display: inline-block;
        padding: 20px 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: $black;
        font-size: 1.6rem;
        &:hover {
            color: $black;
        }
    }
}

.dropdown {
    position: relative;
}

.dropdown-submenu {
    position: relative;
    &::after {
        position: absolute;
        top: 11px;
        right: 17px;
        display: inline-block;
        content: "";
        width: 7px;
        height: 11px;
        background: url(../img/chevron-right.png) no-repeat;
    }
}

.dropdown__list {
    display: inline-block;
    width: 17px;
    height: 13px;
    margin: 0 11px -1px -12px;
    background: url(../img/list-icon.png) no-repeat;
    background-position: 50% 50%;
}

.dropdown__chevron-down {
    position: relative;
    left: 8px;
    bottom: 2px;
    display: inline-block;
    width: 12px;
    height: 8px;
    background: url(../img/icon-chevron--down.png) no-repeat;
    background-position: 50% 50%;
}



.sub-menu {
    z-index: 10;
    display: none;
    position: absolute;
    left: -10px;
    top: 65px;
    border-radius: 3px;
    background-color: $white;
    box-shadow: 1.5px 2.6px 1px 0 rgba(108, 104, 104, 0.33);
    border: solid 1px $pinkish-grey;
    padding: 15px 0 28px 0;

    & li a {
        white-space: nowrap;
        position: relative;
        padding: 2px 66px 2px 32px;
        display: block;
        font-size: 1.5rem;
        color: $pinkish-grey;
        text-decoration: none;
        line-height: 2;
        &::before {
            position: absolute;
            top: 14px;
            left: 15px;
            display: inline-block;
            content: "";
            width: 6px;
            height: 6px;
            background: $pinkish-grey;
            border-radius: 50%;
            border: 1px solid $pinkish-grey;
        }
        &:hover::before  {
            background: $pinkish-grey;
        }
    }
    & li:hover {
        background-color: $pinkish-grey;
    }
}

.sub-menu--2 {
    left: 101%;
    top: -15px;
    h3 {
        white-space: nowrap;
        padding: 0 10px 0 0 ;
        margin: 5px 10px 5px 17px;
        text-transform: uppercase;
        color: $pinkish-grey;
        font-size: 1.6rem;
    }
}


.navbar__i {
    text-align: justify;
    text-align-last: justify;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar__i li {
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: inline-block;
    padding: 10px 10px 5px 10px;
    margin: 10px 15px;

    &.navbar__i-home {
        background: url(../img/home.png) no-repeat;

    }
    &.navbar__i-search {
        background: url(../img/search.png) no-repeat;
        background-size: contain;
    }
    &.navbar__i-cart {
        background: url(../img/cart.png) no-repeat;
        background-size: contain;
    }
    &.navbar__i-register {
        background: url(../img/register.png) no-repeat;
        background-size: contain;
    }
    &.navbar__i-contact {
        background: url(../img/contact.png) no-repeat;
        background-size: contain;
    }
    &:hover {
        background-color: darken($warm-grey, 20%);
    }
}

/* -----------------------------------------------------------------------------

  			                        FOOTER

----------------------------------------------------------------------------- */

.main-footer {
    text-align: left;
    margin-top: 60px;
    padding: 20px 0 30px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #f1efeb;
}

.main-footer__copyright {
    text-align: center;
    margin: 10px auto;
    font-size: 1.4rem;
}


/*------------------------------------ MEDIA ------------------*/
@import "media"; //always at the end
